.add-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


.form{
    width: 50%;
    height: 40%;
}

}
.addornot{
    text-align: center;
}

.my--header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // .total-price{
    //     width: 50%;

    // }
    .Final-buy{
        width: 15%;
        height: 3rem;
        .Final-buy-btn{
            width: 100%;
            height: 91%;
            border: navajowhite;
            border-radius: 21px;
            cursor: pointer;
            &:hover{
                background-color: black;
                color: white;
                height: 95%;
                border: wheat;
            }
        }
    }



}
.my-card{
    display: flex;
    row-gap: 10vh;
    column-gap: 4%;
    padding: 5%;
    flex-wrap: wrap;
}

.confirm-product-card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 1% 2%;
    width: 100%;
    justify-content: space-between;
    min-height: 20vh;
    height: max-content;

  
    .product-image{
        width: 100%;
        .images{
            width: 100%;
            height: 23vh;
        }
    }

    .detail{
        margin-top: 6%;
    font-size: 1.4rem;
    .answer{
        color:red;
        margin-left: 2%;
    }
    }

    .product-buttons{
        display: flex;
    justify-content: space-evenly;
    height: 4rem;
    .mybtn{
        width: 42%;
        height: 63%;
        margin-top: 3%;
        border: none;

    border-radius: 18px;
     cursor: pointer;
     &:hover{
        height: 68%;
        border: 1px solid red;
     }
    }
    .mybtng{
        &:hover{
            border: 1px solid green;
        }
    }
    }
    



}
